body {
    line-height: 1.6;
    margin: 20px;
    background-color: #e6f2ff;
    color: #333333;
}

h1 {
    color: #2e8b57;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color:darkblue;
    font-size: 16px;
    margin-bottom: 15px;
    width: 75%;
    text-align: justify;
}
